<div class="jumbotron">
  <h1>Noise Alert</h1>

  <form class="main-form" name="submitAlertForm" role="form">
    <label>Phone Number</label>
    <input ng-model="phone" type="phone" required />
    <label>Message</label>
    <input ng-model="text" required />
    <label>Threshold</label>
    <input ng-model="threshold" type="number" step="0.01" min="0" />
    <button class="btn btn-default" ng-click="listen()" ng-disabled="!(submitAlertForm.$valid)">Start listening</button>
  </form>

  <form class="helper-form" ng-show="addContactRequired">
    <label>Phone Number</label>
    <input ng-model="phone" type="phone" required />
    <label>Full Name</label>
    <input ng-model="name" type="text" required />
    <button class="btn btn-default" ng-click="addContact()">Add Contact & Send</button>
  </form>

  <p> {{ processStatus }} </p>

  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
         ng-style="{'width': instant + '%'}">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>

  <div>
    <p> Instant: {{ soundMeter.instant }} </p>
    <p> Max1: {{ max1 }} </p>
    <p> Max2: {{ max2 }} </p>
    <p> Max3: {{ max3 }} </p>
    <p> Sum: {{ sum }} </p>
  </div>

</div>

